.DS_Store

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

2b7cfe4b568d65c5aaefb194f16b51876bd6fa
5f3fab2069e02fef35d193f965d9fe1a801dce
7c0b6725fdd275ec48700ed244e5d98d81d31a
4738bc8642a52687fc58d7a963da7fdcf02b72
86966c707d7e9dd323e29390996320287043bd
applypatch-msg.sample
c3fbe626286eb9a281bd2806ceb02526d6215f
COMMIT_EDITMSG
config
description
e0770424b2a19faf507a501ebfc23be8f54e7b
exclude
FETCH_HEAD
HEAD
index
main
ORIG_HEAD


*.sample


